
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
{% endblock %}

<footer>

    <ul class="foot-menu">
        <li><a href="#">A propos de unVindiVin</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>
    
</footer>