
{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
{% endblock %}
<header>
    <nav>
        <ul class="nav-menu">
            <li><a href="{{ url('homepage.accueil') }}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="#">Le bar</a></li>
            <li><a href="#">La carte</a></li>
            <li>
               <div class="contain-shops">
                <a href="{{ url('shop.shopping')}}">La boutique</a>
                   <a id="contain-basket">Panier<i class="fa fa-shopping-basket">0</i></a>
               </div>
            </li>
            <li><a href="{{ url('contact.contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>

