*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flash-mess{
    font-size: 20px;
    color:white;
    padding: 10px;
    background-color: #580D1D;
    text-align: center;
    position: absolute;
    left:40%;
    top:30%;
    border-radius: 10px;
    font-family: 'Lobster Two', cursive;
}

/*********************
        HEADER
*********************/
.contain-customer{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    padding: 5px;
}

.contain-basket, .contain-user{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #580D1D;
    border-radius: 8px;
    border: #FFFFFF 2px solid;
    padding: 5px;
    margin:0px 10px 0px 10px;

}

.contain-admin{

    background-color: #580D1D;
    border: #FFFFFF 2px solid;
    border-radius: 8px;

}

.log{
    width:auto;
    max-width:300px;
}

.create{

    width: 130px;

}

.contain-shops{
    display: flex;
    align-items: center;
}

#contain-basket{
    text-align: center;

    border-radius: 8px;
    border: #FFFFFF 1px solid;
    padding: 5px;
    margin-right: 10px;
    font-size: 10px;
}

.contain-user>a{

    text-decoration: none;
    color:white
}




.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    border-bottom: solid white 2px;
}

.nav-menu li {

    list-style-type: none;

}

.nav-menu a{

    text-decoration: none;
    color:white;
    font-size: 24px;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 5px;
}

/*********************
        FOOTER
*********************/

footer{
    border-top:solid 2px #FFFFFF;
    background-color: rgba(0,0,0,0.9);

}

.foot-menu>li>a{
    text-decoration: none;
    color: #FFFFFF;
}
